Make your advertising project talkable.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('advertising.csv')
df

    ad_id         campaign  clicks  impressions  cost
0       1      Summer_Sale     120         5000   250
1       2      Summer_Sale      95         4200   210
2       3      Summer_Sale      60         3000   180
3       4       App_Launch     200         8000   500
4       5       App_Launch     180         7600   480
5       6       App_Launch      90         5000   300
6       7    Festive_Offer     320         9000   520
7       8    Festive_Offer     280         8500   500
8       9    Festive_Offer     150         6000   350
9      10  Brand_Awareness      40         7000   220
10     11  Brand_Awareness      55         7500   240
11     12  Brand_Awareness      35         6500   210

In [12]:
# Re-compute CTR & CPC safely
df['ctr'] = ((df['clicks'])/(df['impressions'])).round(4)
df['cpc'] = ((df['cost'])/(df['clicks'])).round(2)
df['spend_share'] = ((df['cost'])/(df['cost']).sum()).round(4)*100
df

,ad_id,campaign,clicks,impressions,cost,ctr,cpc,spend_share
0,1,Summer_Sale,120,5000,250,0.0240,2.08,6.31
1,2,Summer_Sale,95,4200,210,0.0226,2.21,5.30
2,3,Summer_Sale,60,3000,180,0.0200,3.00,4.55
3,4,App_Launch,200,8000,500,0.0250,2.50,12.63
4,5,App_Launch,180,7600,480,0.0237,2.67,12.12
5,6,App_Launch,90,5000,300,0.0180,3.33,7.58
6,7,Festive_Offer,320,9000,520,0.0356,1.62,13.13
7,8,Festive_Offer,280,8500,500,0.0329,1.79,12.63
8,9,Festive_Offer,150,6000,350,0.0250,2.33,8.84
9,10,Brand_Awareness,40,7000,220,0.0057,5.50,5.56
10,11,Brand_Awareness,55,7500,240,0.0073,4.36,6.06
11,12,Brand_Awareness,35,6500,210,0.0054,6.00,5.30

In [16]:
summary_df=(df.groupby('campaign',as_index=False).agg(
    clicks=('clicks','sum'),
    impressions=('impressions','sum'),
    cost=('cost','sum')
))
summary_df['ctr'] = summary_df['clicks']/summary_df['impressions']
summary_df['cpc'] = summary_df['cost']/summary_df['clicks']
summary_df['spend_share'] = (summary_df['cost']/(summary_df['cost']).sum())*100
summary_df[['campaign','ctr','cpc','spend_share']]

          campaign       ctr       cpc  spend_share
0       App_Launch  0.022816  2.723404    32.323232
1  Brand_Awareness  0.006190  5.153846    16.919192
2    Festive_Offer  0.031915  1.826667    34.595960
3      Summer_Sale  0.022541  2.327273    16.161616

Answer 3 interview-style questions (written clearly):

1. What problem were you solving?

2. What metrics mattered most and why?

3. What action would you recommend?

In [ ]:
# What problem were you solving?
'''
    Finding out the best campaign and worst campaign. Re-allocate spending from worst to best campaign
'''

# What metrics mattered most and why?
'''
    ctr, cpc, spend share are the metrics that matter most because they show us how the campaigns provided movement from users. More the clicks per less cost and impressions with low spending, the better the campaign.
'''
# What action would you recommend?
''' 
    Move spend funds from Brand Awareness to Festive Offer
'''