Objective: Turn advertising.csv into insight, not charts-for-fun.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [3]:
df = pd.read_csv('advertising.csv')
df.shape, df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ad_id        12 non-null     int64
 1   campaign     12 non-null     object
 2   clicks       12 non-null     int64
 3   impressions  12 non-null     int64
 4   cost         12 non-null     int64
dtypes: int64(4), object(1)
memory usage: 612.0+ bytes

((12, 5), None)

In [4]:
df.isna().sum()

ad_id          0
campaign       0
clicks         0
impressions    0
cost           0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.head()

   ad_id     campaign  clicks  impressions  cost
0      1  Summer_Sale     120         5000   250
1      2  Summer_Sale      95         4200   210
2      3  Summer_Sale      60         3000   180
3      4   App_Launch     200         8000   500
4      5   App_Launch     180         7600   480

Create 2 derived columns:

    CTR = clicks / impressions

    CPC = cost / clicks

In [29]:
df['ctr'] = df['clicks']/df['impressions']
# df['ctr'] = np.where(
#     df['impressions'] > 0,
#     df['clicks']/df['impressions'],0
# )
df['ctr'] = df['ctr'].round(4)
df.head()

   ad_id     campaign  clicks  impressions  cost     ctr       cpc
0      1  Summer_Sale     120         5000   250  0.0240  2.083333
1      2  Summer_Sale      95         4200   210  0.0226  2.210526
2      3  Summer_Sale      60         3000   180  0.0200  3.000000
3      4   App_Launch     200         8000   500  0.0250  2.500000
4      5   App_Launch     180         7600   480  0.0237  2.666667

In [33]:
df['cpc'] = df['cost']/df['clicks']
df['cpc'] = df['cpc'].round(2)
df.head()

   ad_id     campaign  clicks  impressions  cost     ctr   cpc
0      1  Summer_Sale     120         5000   250  0.0240  2.08
1      2  Summer_Sale      95         4200   210  0.0226  2.21
2      3  Summer_Sale      60         3000   180  0.0200  3.00
3      4   App_Launch     200         8000   500  0.0250  2.50
4      5   App_Launch     180         7600   480  0.0237  2.67

Answer 3 BUSINESS questions (code + output):

1. Which campaign is most efficient and why?

2. Which campaign is wasting money?

3. What would you recommend to increase ROI?

In [48]:
df

    ad_id         campaign  clicks  impressions  cost     ctr   cpc
0       1      Summer_Sale     120         5000   250  0.0240  2.08
1       2      Summer_Sale      95         4200   210  0.0226  2.21
2       3      Summer_Sale      60         3000   180  0.0200  3.00
3       4       App_Launch     200         8000   500  0.0250  2.50
4       5       App_Launch     180         7600   480  0.0237  2.67
5       6       App_Launch      90         5000   300  0.0180  3.33
6       7    Festive_Offer     320         9000   520  0.0356  1.62
7       8    Festive_Offer     280         8500   500  0.0329  1.79
8       9    Festive_Offer     150         6000   350  0.0250  2.33
9      10  Brand_Awareness      40         7000   220  0.0057  5.50
10     11  Brand_Awareness      55         7500   240  0.0073  4.36
11     12  Brand_Awareness      35         6500   210  0.0054  6.00

In [71]:
# Which campaign is most efficient and why?
q1 = df.groupby('campaign',as_index=False).agg(
    avg_ctr=('ctr','mean'),
    avg_cpc=('cpc','mean')
).sort_values(by=['avg_ctr','avg_cpc'],ascending=[False,True]).head(1)
print(q1,'\n Festive_Offer campaign is best because, it has the highest ctr and lowest cpc')

        campaign   avg_ctr   avg_cpc
2  Festive_Offer  0.031167  1.913333
 Festive_Offer campaign is best because, it has the highest ctr and lowest cpc

In [73]:
# Which campaign is wasting money?
q2=df.groupby('campaign', as_index=False).agg(
    avg_ctr = ('ctr','mean'),
    avg_cpc = ('cpc','mean')
).sort_values(by=['avg_cpc','avg_ctr'],ascending=[False,True]).head(1)
print(q2, '\nBrand_Awareness is wasting more money because it has very low CTR and high Cpc. -> More spending and less clicks per impressions')

          campaign   avg_ctr   avg_cpc
1  Brand_Awareness  0.006133  5.286667
Brand_Awareness is wasting more money because it has very low CTR and high Cpc. -> More spending and less clicks per impressions

In [74]:
# What would you recommend to increase ROI?
q3 = df.groupby('campaign',as_index=False).agg(
    avg_ctr=('ctr','mean'),
    avg_cpc=('cpc','mean')
).sort_values(by=['avg_ctr','avg_cpc'],ascending=[False,True]).head(2)
print(q3,'\nTo improve ROI, I will suggest to increase the spending on Festive_offer and app_launch campaigns. Lower the spending on other two campaigns')

        campaign   avg_ctr   avg_cpc
2  Festive_Offer  0.031167  1.913333
0     App_Launch  0.022233  2.833333
To improve ROI, I will suggest to increase the spending on Festive_offer and app_launch campaigns. Lower the spending on other two campaigns

In [75]:
df

    ad_id         campaign  clicks  impressions  cost     ctr   cpc
0       1      Summer_Sale     120         5000   250  0.0240  2.08
1       2      Summer_Sale      95         4200   210  0.0226  2.21
2       3      Summer_Sale      60         3000   180  0.0200  3.00
3       4       App_Launch     200         8000   500  0.0250  2.50
4       5       App_Launch     180         7600   480  0.0237  2.67
5       6       App_Launch      90         5000   300  0.0180  3.33
6       7    Festive_Offer     320         9000   520  0.0356  1.62
7       8    Festive_Offer     280         8500   500  0.0329  1.79
8       9    Festive_Offer     150         6000   350  0.0250  2.33
9      10  Brand_Awareness      40         7000   220  0.0057  5.50
10     11  Brand_Awareness      55         7500   240  0.0073  4.36
11     12  Brand_Awareness      35         6500   210  0.0054  6.00

In [76]:
df.to_csv('Cleaned_advertising.csv',index=False)