### Pandas Transformations
Today I turn analysis into recommendations

In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('advertising.csv')
df.shape,df.head()

((12, 5),
    ad_id     campaign  clicks  impressions  cost
 0      1  Summer_Sale     120         5000   250
 1      2  Summer_Sale      95         4200   210
 2      3  Summer_Sale      60         3000   180
 3      4   App_Launch     200         8000   500
 4      5   App_Launch     180         7600   480)

Column ops

In [19]:
# CTR (engagement), CPC (click efficiency), CPM (reach cost).
df['ctr'] = df['clicks']/df['impressions']
df['cpc'] = df['cost']/df['clicks']
df['cpm'] = (df['cost']/df['impressions']) *1000  # CPM (Cost Per 1000 Impressions)
df.head()

,ad_id,campaign,clicks,impressions,cost,ctr,cpc,cpm
0,1,Summer_Sale,120,5000,250,0.024000,2.083333,50.000000
1,2,Summer_Sale,95,4200,210,0.022619,2.210526,50.000000
2,3,Summer_Sale,60,3000,180,0.020000,3.000000,60.000000
3,4,App_Launch,200,8000,500,0.025000,2.500000,62.500000
4,5,App_Launch,180,7600,480,0.023684,2.666667,63.157895

In [20]:
# Rename columns cleanly
df.rename(columns={'ad_id':'id'},inplace=True)
df.head()

   id     campaign  clicks  impressions  cost       ctr       cpc        cpm
0   1  Summer_Sale     120         5000   250  0.024000  2.083333  50.000000
1   2  Summer_Sale      95         4200   210  0.022619  2.210526  50.000000
2   3  Summer_Sale      60         3000   180  0.020000  3.000000  60.000000
3   4   App_Launch     200         8000   500  0.025000  2.500000  62.500000
4   5   App_Launch     180         7600   480  0.023684  2.666667  63.157895

In [26]:
# Change dtypes explicitly
df['ctr'] = df['ctr'].round(4)
df['cpc'] = df['cpc'].round(2)
df['cpm'] = df['cpm'].round(2)
df

    id         campaign  clicks  impressions  cost     ctr   cpc    cpm
0    1      Summer_Sale     120         5000   250  0.0240  2.08  50.00
1    2      Summer_Sale      95         4200   210  0.0226  2.21  50.00
2    3      Summer_Sale      60         3000   180  0.0200  3.00  60.00
3    4       App_Launch     200         8000   500  0.0250  2.50  62.50
4    5       App_Launch     180         7600   480  0.0237  2.67  63.16
5    6       App_Launch      90         5000   300  0.0180  3.33  60.00
6    7    Festive_Offer     320         9000   520  0.0356  1.62  57.78
7    8    Festive_Offer     280         8500   500  0.0329  1.79  58.82
8    9    Festive_Offer     150         6000   350  0.0250  2.33  58.33
9   10  Brand_Awareness      40         7000   220  0.0057  5.50  31.43
10  11  Brand_Awareness      55         7500   240  0.0073  4.36  32.00
11  12  Brand_Awareness      35         6500   210  0.0054  6.00  32.31

Filtering

In [40]:
# Filter rows using 2 conditions
df[(df['cost']<250)&(df['ctr']>0.02)]

   id     campaign  clicks  impressions  cost     ctr   cpc   cpm
1   2  Summer_Sale      95         4200   210  0.0226  2.21  50.0

In [52]:
df.groupby('campaign')[['clicks','ctr']].mean().reset_index()

          campaign      clicks       ctr
0       App_Launch  156.666667  0.022233
1  Brand_Awareness   43.333333  0.006133
2    Festive_Offer  250.000000  0.031167
3      Summer_Sale   91.666667  0.022200

In [66]:
# Filter using .isin()
df[df['campaign'].isin(['App_Launch','Brand_Awareness'])& (df['cost'] <250)]

    id         campaign  clicks  impressions  cost     ctr   cpc    cpm
9   10  Brand_Awareness      40         7000   220  0.0057  5.50  31.43
10  11  Brand_Awareness      55         7500   240  0.0073  4.36  32.00
11  12  Brand_Awareness      35         6500   210  0.0054  6.00  32.31

Grouping

In [67]:
# Group by campaign â†’ mean CTR, mean CPC
df.groupby('campaign').agg(
    avg_ctr = ('ctr','mean'),
    avg_cpc = ('cpc','mean')
)

                  avg_ctr   avg_cpc
campaign
App_Launch       0.022233  2.833333
Brand_Awareness  0.006133  5.286667
Festive_Offer    0.031167  1.913333
Summer_Sale      0.022200  2.430000

In [69]:
# Sort and get top 3 + bottom 3
df.groupby('campaign').agg(
    avg_ctr = ('ctr','mean'),
    avg_cpc = ('cpc','mean')
).sort_values(by='avg_ctr',ascending=True).head(3)

                  avg_ctr   avg_cpc
campaign
Brand_Awareness  0.006133  5.286667
Summer_Sale      0.022200  2.430000
App_Launch       0.022233  2.833333

In [71]:
df.groupby('campaign').agg(
    avg_ctr = ('ctr','mean'),
    avg_cpc = ('cpc','mean')
).sort_values(by='avg_cpc',ascending=True).head(3)

                avg_ctr   avg_cpc
campaign
Festive_Offer  0.031167  1.913333
Summer_Sale    0.022200  2.430000
App_Launch     0.022233  2.833333

Write 4 functions

In [74]:
# add_ctr(df)
def add_ctr(df):
    df['ctr'] = df['clicks']/df['impressions']
    return df

df1 = pd.read_csv('advertising.csv')
print(add_ctr(df1))

    ad_id         campaign  clicks  impressions  cost       ctr
0       1      Summer_Sale     120         5000   250  0.024000
1       2      Summer_Sale      95         4200   210  0.022619
2       3      Summer_Sale      60         3000   180  0.020000
3       4       App_Launch     200         8000   500  0.025000
4       5       App_Launch     180         7600   480  0.023684
5       6       App_Launch      90         5000   300  0.018000
6       7    Festive_Offer     320         9000   520  0.035556
7       8    Festive_Offer     280         8500   500  0.032941
8       9    Festive_Offer     150         6000   350  0.025000
9      10  Brand_Awareness      40         7000   220  0.005714
10     11  Brand_Awareness      55         7500   240  0.007333
11     12  Brand_Awareness      35         6500   210  0.005385

In [75]:
# add_cpc(df)
def add_cpc(df):    
    df['cpc'] = df['cost']/df['clicks']
    return df

df1 = pd.read_csv('advertising.csv')
print(add_cpc(df1))

    ad_id         campaign  clicks  impressions  cost       cpc
0       1      Summer_Sale     120         5000   250  2.083333
1       2      Summer_Sale      95         4200   210  2.210526
2       3      Summer_Sale      60         3000   180  3.000000
3       4       App_Launch     200         8000   500  2.500000
4       5       App_Launch     180         7600   480  2.666667
5       6       App_Launch      90         5000   300  3.333333
6       7    Festive_Offer     320         9000   520  1.625000
7       8    Festive_Offer     280         8500   500  1.785714
8       9    Festive_Offer     150         6000   350  2.333333
9      10  Brand_Awareness      40         7000   220  5.500000
10     11  Brand_Awareness      55         7500   240  4.363636
11     12  Brand_Awareness      35         6500   210  6.000000

In [84]:
# get_top_campaign(df, metric)
def get_top_campaign(df, metric):
    return df.groupby('campaign').agg(
        avg_metric=(metric,'mean')
    ).sort_values(by='avg_metric',ascending=False).head(1)
df1 = pd.read_csv('advertising.csv')
add_ctr(df1)
print(get_top_campaign(df1,'ctr'))

               avg_metric
campaign
Festive_Offer    0.031166

In [85]:
# get_top_campaign(df, metric)
def get_top_campaign(df, metric):
    return df.groupby('campaign').agg(
        avg_metric=(metric,'mean')
    ).sort_values(by='avg_metric',ascending=True).head(1)
df1 = pd.read_csv('advertising.csv')
add_ctr(df1)
print(get_top_campaign(df1,'ctr'))

                 avg_metric
campaign
Brand_Awareness    0.006144

In [86]:
for col in df1.select_dtypes(include='number').columns:
    print(f"\nTop campaign by {col}")
    print(get_top_campaign(df1, col))

Top campaign by ad_id
             avg_metric
campaign
Summer_Sale         2.0

Top campaign by clicks
                 avg_metric
campaign
Brand_Awareness   43.333333

Top campaign by impressions
              avg_metric
campaign
Summer_Sale  4066.666667

Top campaign by cost
             avg_metric
campaign
Summer_Sale  213.333333

Top campaign by ctr
                 avg_metric
campaign
Brand_Awareness    0.006144