Make your advertising project talkable.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('advertising.csv')
df

    ad_id         campaign  clicks  impressions  cost
0       1      Summer_Sale     120         5000   250
1       2      Summer_Sale      95         4200   210
2       3      Summer_Sale      60         3000   180
3       4       App_Launch     200         8000   500
4       5       App_Launch     180         7600   480
5       6       App_Launch      90         5000   300
6       7    Festive_Offer     320         9000   520
7       8    Festive_Offer     280         8500   500
8       9    Festive_Offer     150         6000   350
9      10  Brand_Awareness      40         7000   220
10     11  Brand_Awareness      55         7500   240
11     12  Brand_Awareness      35         6500   210